useDynLib(IsingSampler)
export(IsingSampler)
export(BlumeCapelSampler)
export(IsingSumLikelihood)
export(IsingLikelihood)
export(IsingStateProb)
importFrom("plyr","ddply","alply")
import(Rcpp)
export(LinTransform)
importFrom("magrittr","%>%")
export(EstimateIsing)
export(IsingPL)
import(nnet)
export(EstimateIsing)
export(EstimateIsingPL)
export(EstimateIsingUni)
export(EstimateIsingBi)
export(EstimateIsingLL)
importFrom("dplyr","group_by","summarise","across","all_of","ungroup",".data")
#export(NodeInformation)
export(IsingEntrophy)
importFrom("stats", "binomial", "coef", "glm", "loglin", "nlm")